/* -------------------------------------- */
/* ---        ABOUT SECTION          ---  */
/* -------------------------------------- */

.section {
	padding: 60px 0;
	overflow: hidden;
  }
  
  .section-bg {
	background: #f5f8fd;
  }
  
  .section-title {
	padding-bottom: 30px;
  }
  .section-title h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 5px;
	position: relative;
	color: #002B53;
  }
  .section-title h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 90px;
	height: 3px;
	background: #6b6b6b;
	bottom: 0;
	left: 0;
  }
  .section-title p {
	margin-bottom: 45px;
  }
  
/* -------------------------------------- */
/* ---             ABOUT             ---  */
/* -------------------------------------- */

  .about .content h3 {
	font-weight: 700;
	font-size: 26px;
	color: #006ED5;
	margin-bottom: 15px;
  }

  .about .content ul {
	list-style: none;
	padding: 0;
	margin-top: 10px;
  }

  .about .content ul li {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
  }

  .about .content ul strong {
	margin-right: 10px;
  }

  .about .content ul i {
	font-size: 16px;
	margin-right: 5px;
	color: #006ED5;
	line-height: 0;
	
  }

  .about .content p:last-child {
	margin-top: 15px;
	margin-bottom: 0;
  }

  .teal {
	  color: #6b6b6b;
  }

  .experience {
	padding-bottom: 10px;
  }

  .experience .count-box {
	padding: 30px;
	width: 100%;
  }

  .experience .count-box i {
	display: block;
	font-size: 44px;
	color: #149ddd;
	float: left;
	line-height: 0;
  }

  .experience .count-box span {
	font-size: 48px;
	line-height: 40px;
	display: block;
	font-weight: 700;
	color: #050d18;
	margin-left: 60px;
  }

  .experience .count-box p {
	padding: 15px 0 0 0;
	margin: 0 0 0 15px;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: #122f57;
  }

  .experience .count-box a {
	font-weight: 600;
	display: block;
	margin-top: 20px;
	color: #122f57;
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	transition: ease-in-out 0.3s;
  }

  .experience .count-box a:hover {
	color: #1f5297;
  }