/* -------------------------------------- */
/* ---             HEADER            ---  */
/* -------------------------------------- */

.header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	transition: all ease-in-out 0.5s;
	z-index: 9997;
	transition: all 0.5s;
	padding: 0 15px;
	background-image: url('../assets/bg4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: auto;
}

.header .profile img {
	margin: 35px auto;
	display: block;
	width: 150px;
	border: 8px solid #006ED5;
}

.header .profile h1 {
	font-size: 28px;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	font-weight: 700;
	-moz-text-align-last: center;
	text-align-last: center;
	font-family: 'Poppins', sans-serif;
}

.header .profile h1 a,
.header .profile h1 a:hover {
	color: #002B53;
	text-decoration: none;
}

.header .powell {
	color: #F87630;
}

.header .profile .social-links a {
	font-size: 20px;
	display: inline-block;
	background: #212431;
	color: #fff;
	line-height: 1;
	margin-top: 15px;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 40px;
	height: 40px;
	transition: 0.3s;

}

.header .profile .social-links a:hover {
	background: #002B53;
	color: #F87640;
	text-decoration: none;
}

.main {
	margin-left: 300px;
}

@media (max-width: 1199px) {
	.header {
		left: -300px;
	}

	.main {
		margin-left: 0;
	}
}


/* -------------------------------------- */
/* ---          NAVIGATION           ---  */
/* -------------------------------------- */

.nav-menu {
	padding: 30px 0 0 0;
}

.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu > ul > li {
	position: relative;
	white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
	display: flex;
	align-items: center;
	color: #002B53;
	padding: 12px 15px;
	transition: 0.3s;
	font-size: 22px;
}

.nav-menu a i,
.nav-menu a:focus i {
	font-size: 32px;
	padding-right: 10px;
	color: #002B53;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
	text-decoration: none;
	color: #F87630;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
	color: #F87630;
}

/* -------------------------------------- */
/* ---      MOBILE NAVIGATION        ---  */
/* -------------------------------------- */

.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	background-color: #002B53;
	color: #fff;
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
	border-radius: 50px;
	cursor: pointer;
}

.mobile-nav-active {
	overflow: hidden;
}

.mobile-nav-active #header {
	left: 0;
}